.navbar-inverse {
    background-color: #1f9e93 !important;
    border-color: #1f9e93 !important;
    background-image: none;
}
.btn-primary {
    background-color: #1f9e93 !important;
    border-color: #1f9e93 !important;
    background-image: none;
}